.invitacion {
    transform: rotate(10deg);
    box-shadow: 10px 5px 5px rgb(156, 153, 153);
    margin-left: 10px;
}


/**** SVG ICON ****/

.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #4691f6;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}