@tailwind base;
@tailwind components;
@tailwind utilities;
.cls-1 {
    /* fill: #f1edf1; */
    animation: line-ani 2s ease forwards, fill 0.5s ease forwards infinite;
}

@keyframes line-ani {
    from {
        fill: #520eda;
    }
    to {
        fill: rgb(85, 41, 41);
    }
}

.cls1 {
    animation: move infinite ease;
}

@keyframes move {
    0% {
        top: 0px;
    }
    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }
    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }
    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }
    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

@font-face {
    font-family: DancingScript;
    src: url('../fonts/DancingScript-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

.font-dancing {
    font-size: 2.2rem;
    font-family: DancingScript;
}
